
h1{
    text-align: center;
}
#lol{
    color: indigo;
}
.bazz{
    color: violet;
}
img{
    margin: 40px;
}
form{
    text-align: center;
}
#form{
    background-color: turquoise;
    width: 300px;
    height: 100px;
    padding: 10px;
    border: transparent;
    text-align: center;

}
body{
    background-color: wheat;
}
a[href="form1.html"]{
    color: red;
}